#quienesSomos{
    background-image: url(../img/backgrounds/manos.png);
    background-size: cover;
}

@media (max-width: 995px){
    #quienesSomos{
        background-image: none;
    }
}

@media (min-width: 1400px){
    #quienesSomos{
        background-position-y: -170px;
    }
}